{% extends 'base.html' %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h1 class="card-header text-center">Sign Up</h1>
      <div class="card-body">
        <div class="text-center"></div>
        {% if error_message %}
        <p class="error-message fade-in text-center">{{ error_message }}</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
         <div class="mb-3">
            <label for="id_username" class="form-label">Username:</label>
            <input
                type="text"
                class="form-control light-gray-placeholder"
                id="id_username"
                placeholder="Enter username"
                name="username"
                {% if form.username.errors %}
                    data-toggle="tooltip"
                    title="{{ form.username.errors.0 }}"
                    data-placement="right"
                {% endif %}
            />
        </div>
          <div class="mb-3">
            <label for="id_password1" class="form-label">Password:</label>
            <input
               type="password"
              class="form-control light-gray-placeholder"
              id="id_password1"
              placeholder="Enter password"
              name="password1"
            />
          </div>
          <div class="mb-3">
            <label for="id_password2" class="form-label"
              >Confirm Password:</label
            >
            <input
              type="password"
              class="form-control light-gray-placeholder"
              id="id_password2"
              placeholder="Confirm password"
              name="password2"
            />
          </div>
          <hr />
          <div class="mb-3">
            <label for="id_profile_name" class="form-label"
              >Profile Name:</label
            >
            <input
              type="text"
              class="form-control light-gray-placeholder"
              id="id_profile_name"
              placeholder="Enter your profile name"
              name="profile_name"
            />
          </div>
          <div class="mb-3">
            <label for="id_bio" class="form-label">Your Bio:</label>
            <textarea
              class="form-control light-gray-placeholder"
              id="id_bio"
              rows="3"
              placeholder="Tell us a bit about yourself"
              name="bio"
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
