{% extends 'base.html' %}

<!-- <h1>Update Post</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm</button>
</form>

<a href="{% url 'delete_post' pk=post.pk %}">delete</a> -->

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="text-center"></div>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <textarea class="form-control" id="id_content" rows="2" name="content">{{ post.content }}</textarea>
          </div>
          <div class="d-flex justify-content-between">
            <div class="text-start">
                <button type="button" class="btn btn-info" onclick="window.history.back()"><span class="material-symbols-outlined">
                    arrow_back
                    </span></button>
            </div>
            <div class="text-end">
                {% if request.GET.delete_action %}
                    <button type="submit" class="btn btn-outline-danger">Confirm Delete</button>
                {% endif %}
                {% if request.GET.edit_action %}
                    <button type="submit" class="btn btn-outline-success">Confirm Edit</button>
                {% endif %}
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br />


{% endblock content %}
