{% extends 'base.html' %}


{% block content %}
{% for post in following_posts %}
<div class="row justify-content-center">
  <div class="col-md-4 mb-4">
    <div class="card">
      <h5 class="card-header">
        {% if post.profile.photo.url %}
        <img src="{{ post.profile.photo.url }}" alt="Profile Picture" class="card-header-img">
        {% else %}
        <span class="material-symbols-outlined" style="font-size: 50px; color: #1DA1F2;" >
          account_circle
          </span>
        {% endif %}
        <div class="timestamp">{{ post.created_at }}</div>
        {% if user.is_authenticated %}
        <a class="custom-link" href="{% url 'profile_detail' profile_id=post.profile.id %}">{% endif %}{{ post.profile }}</a>
      </h5>
      <div class="card-body d-flex justify-content-between align-items-start">
        <!-- Post content on the left -->
        <div class="post-content">
            {{ post.content }}
        </div>
        <!-- Likes and buttons on the right -->
        <div class="likes-section ml-auto">
            <span class="likes-count minor-text">{{ post.likes.count }}</span>
            {% if user.is_authenticated %}
                {% if user.profile in post.likes.all %}
                    <form action="{% url 'unlike_post' post.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Unlike</button>
                    </form>
                {% else %}
                    <form action="{% url 'like_post' post.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Like</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
    