{% extends 'base.html' %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-9 mb-6">
    <div class="card">
      <div class="card-body">
        <div class="text-center"></div>
        {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <div class="mb-3">
            <textarea
              class="form-control light-gray-placeholder"
              id="id_content"
              rows="3"
              placeholder="Share your thoughts"
              name="content"
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Create Post</button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br />
<br />

{% for post in posts %} 

<div class="row justify-content-center">
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">{{ post.profile }}</h5>
      <div class="card-body">
        <div class="text-center"></div>
        {{ post.content }}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div class="text-start">
          <a href="{% url 'profile_detail' profile_id=post.profile.id %}">profile</a>
        </div>
        {% if post.profile == user.profile %}
        <div class="text-end">
          <a href="{% url 'update_post' pk=post.pk %}">edit</a>
        </div>
        {% endif %} 
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
