.light-gray-placeholder::placeholder {
  color: lightgray;
}

.error-message {
  background-color: red;
  border-radius: 7px;
  color: white;
  padding: 10px;
  text-align: center;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a.custom-link {
  text-decoration: none;
  color: blue;
}

a.custom-link2 {
  text-decoration: none;
  color: white;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  background-color: #0F63FD;
  color: white;
  border-color: #0F63FD;
}

.nav-tabs .nav-link:hover {
  background-color: #42b3f5;
  color: white;
  border-color: #42b3f5;
}

#nav-logout-tab:hover {
  background-color: #f5da42;
  color: black;
  border-color: #f5da42;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .nav-link {
      gap: 5px;  /* Smaller gap on smaller screens */
  }
  .tab-text {
    display: none;
  }
}

header {
  margin-bottom: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}