.light-gray-placeholder::placeholder {
  color: lightgray;
}

.error-message {
  background-color: red;
  border-radius: 7px;
  color: white;
  padding: 10px;
  text-align: center;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a.custom-link {
  text-decoration: none;
  color: blue;
}

a.custom-link2 {
  text-decoration: none;
  color: white;
}