.light-gray-placeholder::placeholder {
  color: lightgray;
}

.error-message {
  background-color: red;
  border-radius: 7px;
  color: white;
  padding: 10px;
  text-align: center;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a.custom-link {
  text-decoration: none;
  color: blue;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  background-color: #0F63FD;
  color: white;
  border-color: #0F63FD;
}

.nav-tabs .nav-link:hover {
  background-color: #42b3f5;
  color: white;
  border-color: #42b3f5;
}

#nav-logout-tab:hover {
  background-color: #f5da42;
  color: black;
  border-color: #f5da42;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .nav-link {
      gap: 5px;  /* Smaller gap on smaller screens */
  }
  .tab-text {
    display: none;
  }
}

header {
  margin-bottom: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.card-header img {
  width: 10%; /* Set the width to 100% to make the image responsive */
  height: auto; /* Let the height adjust automatically to maintain the aspect ratio */
  border-radius: 50%; /* Set border-radius to 50% to create a circular image */
}

.card-header {
  margin: 0;
}

.btn-content {
  white-space: nowrap; /* Ensure button text does not wrap */
  padding: .375rem .75rem; /* Standard Bootstrap padding for buttons */
}

.btn-outline-secondary {
  display: inline-block;
  border-color: #D2D2D2;
}

.utility {
  color: #D2D2D2;
  vertical-align: middle;
}

.timestamp {
  font-size: x-small;
  color: #a6a6a6; /* Gray color */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.minor-text {
  font-size: x-small;
  color: #a6a6a6; /* Gray color */
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.container {
  max-width: 600px;
  margin: auto;
}

.profile-header {
  text-align: center;
  margin: 20px 0;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-icon {
  font-size: 100px;
  color: #1DA1F2;
}

h1 {
  font-size: 24px;
  margin-top: 10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.post {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.btn-outline-primary {
  color: #1DA1F2;
  border-color: #1DA1F2;
}

.card-post-body {
  display: flex;
  justify-content: start; /* Align items to the start of the main axis */
  align-items: center; /* Vertically align items in the middle */
}

.post-content {
  /* Ensures text does not overflow the container */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.likes-section {
  display: flex;
  align-items: center; /* Align the likes count and button vertically */
  margin-left: auto; /* Pushes the section to the right */
}

.likes-count {
  margin-right: 0.5rem; /* Space between the likes count and the button */
}

/* Style the forms to be inline with the likes count */
.likes-section form {
  display: inline;
}

.likes-section button {
  white-space: nowrap;
  padding: 0.375rem 0.75rem; /* Adjust the padding to your liking */
  font-size: 0.875rem; /* Adjust the font size to your liking */
}